:root {
  --claro: #fff;
  --oscuro: #000;
  --gris1: #333333;
  --gris2: #4f4f4f;
  --naranja: #f2994a;

  --fPrincipal: "Playfair Display", serif;
  -fsecundaria: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

[class$="__contendor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}
