:root {
  --claro: #fff;
  --oscuro: #000;
  --gris1: #333333;
  --gris2: #4f4f4f;
  --naranja: #f2994a;

  --fPrincipal: "Playfair Display", serif;
  -fsecundaria: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  font-family: var(--fPrincipal);
  font-weight: bold;
}
h2 {
  font-size: 18rem;
}
[class$="__contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.header {
  margin-top: 3rem;
}

.header__flex {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.header__icon {
  width: 3rem;
}

.header__info {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--gris2);
  line-height: 1.4rem;
}
